.flip-card {
  background-color: transparent;
  perspective: 500px;
  width: 100%;
  height: 100%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

.flip .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-back {
  background-color: #101531;
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  color: white;
  /* padding: 1rem; */
  /* margin: auto;
  padding: 2px; */
  /* display: inline-block; */
  /* width: 180px; */
  /* white-space: nowrap; */
  /* overflow: hidden !important;
  text-overflow: ellipsis; */
}

.flip-card-text {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
}

/* .flip-card-front {
  padding: 10px;
} */

.flip-card-back {
  /* background-color: #2980b9; */
  color: white;
  transform: rotateY(180deg);
}

.content-back {
  display: table-cell;
  vertical-align: middle;
  /* border: 2px solid #c061a4; */
  /* border-radius: 5px; */
  /* border-top: 2px solid #c061a4;
  border-right: 2px solid #c061a4; */
}
.content-front {
  display: table-cell;
  vertical-align: middle;
  /* border: 2px solid #c061a4; */
  /* border-radius: 5px; */
}
